.back_bg {
    background-color: #FFFFFF;
}
a {
    text-decoration-line: none;
}
li {
    list-style-type: none;
}

/* 전체 객체 그룹 사이즈 조정 */
.container {
    margin-top: 100px;
}
.container_group {
    display: flex;
    justify-content: space-between;
}

/* 좋아요 */
.lnr-thumbs-up {
    color: #000000;
    font-size: 14px;
    line-height: 36px;
}
/* 싫어요 */
.lnr-thumbs-down {
    color: #000000;
    font-size: 14px;
    line-height: 36px;
}
/* 공유 */
.lnr-exit-up {
    color: #000000;
    font-size: 14px;
    line-height: 36px;
}


/*box 1: 영상, 영상 설명, 댓글 */
.box1 {
    flex: 1; /* 1부분을 차지하도록 설정 */
    max-width: 70%; /* 최대 70%까지만 차지하도록 설정 */
    box-sizing: border-box; /* 내부 패딩과 테두리를 포함한 전체 크기를 지정 */
    background-color: #FFFFFF;

    /*display: flex;*/
    /*flex-direction: column;*/
}
/*.box1 video {*/
/*    width: 100%; !* 부모 요소인 .box1의 100%를 차지하도록 설정 *!*/
/*    height: auto; !* 비율을 유지하면서 너비에 따라 높이 조정 *!*/
/*    border-radius: 10px;*/
/*}*/

/*.box1 {*/
/*    position: relative;*/
/*    padding-bottom: 56.25%; !* 16:9 aspect ratio *!*/
/*}*/

/*.box1 video {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 30%;*/
/*    object-fit: contain;*/
/*    background-color: #000;*/
/*}*/

.vvvv {
    width: 100%;
    height: 352px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.vvvv video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}


/* video_info: 영상 정보(All) */
.video_info h1 {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
}

/* video_info_user_bbox: 유저 이름, 구독자 수 */
.video_info_user_bbox {
    float: left;
    margin-left: 10px;
}
.video_info_user_bbox a {
    text-decoration-line: none;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    color: #000000;
}
.video_info_user_bbox p {
    color: #383c46;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
}

/* video_user_bbox: 프로필 이미지 */

.video_user_bbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.video_user_bbox .leftReview {
    display: block;
    margin-right: 10px;
}

.video_user_bbox .leftReview {
    display: flex;
    flex-direction: row;
}

.leftReview a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.leftReview a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* video_review_btn_o .subscribe_B: 구독 버튼 */
.video_review_btn_o {
    float: left;
}
.video_user_bbox .subscribe_B {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    width: 60px;
    height: 36px;
    border: none;
    margin-left: 10px;
    float: left;
}
.video_user_bbox .subscribe_B:hover {
    background-color: #272727;
    color: #FFFFFF;
}

/* video_review_btn_t .like_B, .hate_B, .share_B: 좋아요, 싫어요, 공유 버튼 */
.video_review_btn_t {
    float: right;
    background-color: #FFFFFF;
}
/* border-radius: top-left-x top-right-x bottom-right-x bottom-left-x
   / top-left-y top-right-y bottom-right-y bottom-left-y
*/
.like_B {
    border-radius: 20px 0 0 20px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    color: #000000;
    background-color: #F2F2F2;
}
.hate_B {
    border-radius: 0 20px 20px 0;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    color: #000000;
    background-color: #F2F2F2;
}
.share_B{
    border-radius: 20px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    color: #000000;
    background-color: #F2F2F2;
}

.like_B:hover, .hate_B:hover, .share_B:hover{
    background-color: #E5E5E5;
}

/* video_info_bbox: 영상 설명 */
.video_info_bbox {
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 10px;
    border: none;
    clear: left;
    width: 100%;
    height: auto;
}
.video_info_bbox:hover {
    background-color: #E5E5E5;
}
.video_info_bbox p{
    margin: 5px;
}

/* box 2: 관심(추천)동영상 목록 */
.box2 {
    flex: 1; /* 1부분을 차지하도록 설정 */
    max-width: 30%; /* 최대 30%까지만 차지하도록 설정 */
    box-sizing: border-box; /* 내부 패딩과 테두리를 포함한 전체 크기를 지정 */
}

.box2 .video_list_Algorithm li {
    margin-top: 10px;
    margin-left: -20px;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.box2 .video_list_Algorithm li a {
    text-decoration-line: none;
    color: #000000;
}

/* 썸네일 사이즈 (고정) */
.video_sumnail {
    background-color: #F2F2F2;
    float: left;
    width: 168px;
    height: 94px;
    margin-top: 5px;
    margin-right: 10px;
}
/* 리스트 내용에 들어갈 제목, 유저명, 조회수 및 날짜 텍스트*/
.bbox_text {
    margin: 0 0 4px 0;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.bbox_text_sub {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    color: #606060;
    margin-bottom: 0;
}



/* box 3: 댓글 구역 */
.box3 {
    width: 100%;
    height: auto;
}
/* 댓글 프로필 사이즈 */
.box3 ul li a img {
    width: 45px;
    height: 45px;
}

/* 댓글 리스트 */
.chat_list {
    background-color: #FFFFFF;
    padding-left: 0px;
    width: 100%;
}
.chat_list li {
    margin-top: 20px;
}
.chat_list a {
    text-decoration-line: none;
    color: #000000;
}
/* 프로필 */
.chat_list_profile {
    float: left;
}
/* 프로필 이름 */
.chat_list_profile_name {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    margin: 10px;
    float: left;
}
/* textarea에서 작성한 내용이 여기로 들어감.*/
.chat_list_chat_text {
    clear: left;
}
.chat_list table {
    clear: left;
}

/* 댓글용 좋아요, 싫어요 버튼*/
.like_bb{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFFFFF;
}
.hate_bb{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFFFFF;
}

.like_bb:hover, .hate_bb:hover {
    background-color: #E5E5E5;
}

/* 드롭다운 메뉴 */
.dropbox_bb {
    padding: 10px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/* 드롭다운 내용 스타일 (숨겨진 상태로 시작) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}
.dropdown-content a:hover {
    background-color: #E5E5E5;
}
/* 드롭다운 내용이 나타나도록 하는 클래스 */
.show {
    display: block;
}

/* 댓글 입력창 부분 */
.input-group {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.input-group #message {
    width: 100%;
    height: 40px;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #E5E5E5;
    resize: none;
}
.input-group img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
}

/* 유저 프로필 */
.bbox1 {
    display: flex;
    flex-direction: column;
    float: left;
}
.bbox1 p {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 13px;
}
/* textarea */
.bbox1_1 {
    float: left;
    width: 85%;
    height: 50px;
}
/* 댓글 전송 버튼 div */
.bbox2 {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    float: right;
    margin-right: 30px;
    position: relative;
    top: -40px;
}

/* 댓글 전송 버튼 */
.review_B {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border: none;
    color: #000000;
    background-color: #F2F2F2;
}
.review_B:hover {
    background-color: #E5E5E5;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 댓글 추가 CSS : JS와 연동됨 */
/* 수정용 textarea */
.input-group #chat_message {
    width: 100%;
    height: 40px;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #E5E5E5;
}

/* 수정 댓글 저장 버튼 */
.save_bb{
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border: none;
    color: #000000;
    background-color: #FFFFFF;
}
.save_bb:hover {
    background-color: #E5E5E5;
}

/* 창 사이즈에 따른 객체들 사이즈.*/

@media (max-width: 768px) {
    .container_group {
        flex-direction: column; /* 화면이 작을 때 세로로 배치 */
        align-items: stretch; /* 세로 배치 시에 요소들을 꽉 채움 */
    }

    .box1, .box2 {
        width: 100%; /* 화면이 작을 때 전체 폭을 차지하도록 변경 */
        min-width: 427px;
    }

    .box1 video {
        width: 100%; /* 부모 요소인 .box1의 100%를 차지하도록 설정 */
        height: auto; /* 비율을 유지하면서 너비에 따라 높이 조정 */

        /* 최소한의 너비와 높이를 설정 */
        min-width: 427px;
        min-height: 240px;
    }

    .bbox2 {
        top: 0;
    }
}

@media (max-width: 992px) {
    .bbox2 {
        top: 0;
    }
}

@media (max-width: 1200px) {
    .container_group {
        flex-direction: column; /* 세로로 배치 */
    }

    .box1, .box2 {
        width: 100%; /* 전체 폭 차지 */
    }

    .box2 {
        margin-top: 10px; /* box1과의 간격 조절 */
    }
}



#headerBtn2 {
    display: none;
}


