
.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;
    height: 70px;

    padding: 5px;
    text-align: center;
    background-color: white;

    position: fixed;
    top: 0;
    z-index: 1000;
}
.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.menu {
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto 0;
}
.leftDropDownMenu {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    background-color: blue;
    border: 0;
}
.logoA {
    margin: auto 0;
}
.mainLogo {
    width: 150px;
    height: 56px;
}
.searchForm {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.searchInput {
    width: 90%;
    height: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px #cccaca solid;
    padding-left: 15px;
}
.searchBtn {
    width: 60px;
    height: 40px;
    border: 1px #cccaca solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
    padding-left: 10px;
}
/* 검색입력창 반응형 코드 */
/*@media only screen and (min-width: 1270px) {*/
/*    .searchInput {*/
/*        width: 450px;*/
/*    }*/
/*}*/
.btns {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.login {
    text-decoration-line: none;
}



.dropdown {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 25px;
}
.btn-secondary {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary img {
    width: 50px;
    height: 50px;
}
.drop-p {
    margin-bottom: 0;
}
.dropdown-menu hr {
    margin: 5px;
}
.drop-p:hover {
    background-color: #fff;
}
.drop-p:active {
    background-color: #fff;
    color: #000;
}



.offcanvas {
    width: 250px !important;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbar-toggler {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.navbar-toggler span {
    margin: auto 0;
    font-size: 30px;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav-item {
    width: 100%;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0px 10px;
}
.nav-item span {
    margin: auto 20px;
    font-weight: bold;
}
.nav-item a {
    width: 100%;
    height: 45px;
    margin: auto 0;
}
.nav-item:hover {
    background: #eaeaea;
}
