
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    width: 100%;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.settingDiv {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
}
.leftDiv {
    width: 200px !important;
    height: 100%;

    position: fixed;
    top: 70px;
    z-index: 100;
    background: white;
    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.offcanvas-body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.offcanvas-body h4 {
    color: #8e8f8c;
    margin-left: 27px;
}
.nav-item {
    margin-left: 20px;
}
.mainContainer {
    width: 100%;
    height: 100%;
    padding-left: 180px;
    padding-top: 80px;
    /*background: #8e8f8c;*/
}