
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
header {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
p, span, div {
    font-family: 'Noto Sans KR', sans-serif;
}

.settingDiv {
    width: 100%;
    height: 100%;
    margin-top: 20px;

    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
}
.leftDiv {
    width: 200px !important;
    height: 90%;
    position: fixed;
    top: 70px;
    z-index: 100;
    background: white;
    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
@media (max-width: 640px) {
    .leftDiv {
        display: none;
    }
    .mainContainer {
        padding-left: 100px !important;
    }
}
.offcanvas-body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.offcanvas-body h4 {
    color: #8e8f8c;
    margin-left: 27px;
    margin-bottom: 20px;
}

.mainContainer {
    width: 80%;
    height: 100%;
    padding-left: 300px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.mainContainer hr {
    width:80%;
}
.profileIMG {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.channelSetDiv {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
}
.channelSetDiv span{
    width: 100px;
    margin: auto 10px;
}
.userName {
    width: 50%;
    text-align: left;
    margin: auto 0 auto 10px;
}

.boldTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.home {
    background: #dedede;

}
.dd {
    margin-left: 20px;
    width: 90% !important;
}
.nav-item:hover {
    background: #ececec;
}
.nav-item:active {
    background: #cccccc !important;
}
#page2 {
    display: none;
}
#headerBtn2 {
    display: none;
}

/* 여기부터 새로 추가한 CSS */
/* 로그인 : capston, capston!*/

.channelSetDiv a {
    text-decoration-line: none;
}

/* 현재 있는 곳 구역 이름*/
.menu_o_txt {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 2.2rem;
    font-weight: 500;
}

/* margin이 필요한 텍스트용 CSS*/
.user_text_margin {
    margin-bottom: 5px;
}

/* 계정 정보 수정 div CSS*/
/* 계정 전체 틀 */
.user_setting_container {
    display: block;
}
.user_setting_container_group {
    background-color: #FFFFFF;
    border: 1px solid #E1E3E1;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    padding: 30px;
}
.setting_box_title {
    font-size: 17px;
    font-weight: 500;
}
.settings_id {
    display: flex;
    flex-direction: column;
}
.settings_pw {
    display: flex;
    flex-direction: column;
}
.settings_pw .password_warming {
    color: #5F6368;
    margin-bottom: 5px;
    font-size: 14px;
}
.settings_em {
    display: flex;
    flex-direction: column;
}
.settings_nn {
    display: flex;
    flex-direction: column;
}

.setting_box_user_id {
    padding: 5px;
    margin: 10px;
    border: 1px solid #80868B;
    border-radius: 5px;
}
.setting_box_user_pw {
    padding: 5px;
    margin: 10px;
    border: 1px solid #80868B;
    border-radius: 5px;
}
.setting_box_user_em {
    padding: 5px;
    margin: 10px;
    border: 1px solid #80868B;
    border-radius: 5px;
}
.setting_box_user_nn {
    padding: 5px;
    margin: 10px;
    border: 1px solid #80868B;
    border-radius: 5px;
}
.change_infobtn {
    width: 133px;
    height: 48px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #0b57d0;
    border: none;
}
.change_infobtn:hover {
    background-color: #0696E3;
}

.accountSetDiv_title {
    width: 160px;
    min-width: 160px;
    margin-right: 56px;
    color: #000000;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 17px;
    line-height: 2rem;
    font-weight: 500;
}

.accountSetDiv_link {
    width: 160px;
    min-width: 160px;
    margin-right: 56px;
    color: #065FD4;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
}
.accountSetDiv_link a{
    text-decoration-line: none;
}

/* 웹사이트 정보 CSS 구간 */
/* 전체 컨테이너 */

.team_user_box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.team_user {
    float: left;
}
.team_user img {
    width: 200px;
    height: 200px;
}

/* Team link */
.mainContainer_team_group {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rocket_team_github a{
    text-decoration-line: none;
    color: #065FD4;
}
/* icon */
.lnr-earth {
    color: #000000;
    font-size: 40px;
}

