
/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}