

/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
body {
    width: 100%;
    /*height: 100vh;*/
    /*height: 2000px;*/
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.titleA {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
.leftDiv {
    width: 200px;
    height: 100%;

    position: fixed;
    top: 70px;
    z-index: 100;

    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.index-left2 {
    width: 150px;
    height: 100%;

    position: fixed;
    top: 70px;
    z-index: 100;

    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
@media (max-width: 640px) {
    .index-left2,
    .index-side2 {
        display: none;
    }
    .mainContainer {
        padding-left: 0 !important;
    }
    .videoListDiv {
        padding-left: 80px !important;
    }
    .filterDiv {
        left: 0 !important;
    }
}
.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding-left: 180px;
    /*margin-left:200px;*/
}
.subContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 150px;
}

.videoListDiv {
    width: 100%;
    height: 100%;
    background: #ffffff;

    padding-left: 100px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.videoDiv {
    width: 330px;
    height: 290px;
    background-color: #f1f1f1;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /*width: calc(33.33% - 20px);  여백을 고려하여 3개의 열로 정렬되도록 설정 */
    margin-bottom: 20px; /* 각 videoDiv 간의 여백 설정 */
    box-sizing: border-box; /* 여백이 포함된 크기로 계산되도록 설정 */
    border-radius: 10px;
    margin-right: 20px;

    position: relative;
}
.video {
    width: 330px;
    height: 200px;
    background-color: #F2B950;
    border-radius: 10px;
    margin: 0 auto;

    position: absolute;
    top: 0;
    overflow: hidden;
}

.video img{
    width: 100%;
    height: 100%;
    object-fit: revert;
}
.profile {
    width: 50px;
    height: 50px;
    background-color: #1e6249;
    border-radius: 30px;
    overflow: hidden;
}

.profile img {
    width: 50px;
    height: 50px;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;

    position: absolute;
    bottom: 0;
}
.videoInfoDiv {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 20px;
}
.title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.uploader, .viewcount{
    font-size: 15px;
    color: #5c5d5c;
}

.offcanvas-body {
    padding-left: 10px !important;
}
.index-side,
.index-side2 {
    height: 100%;
    display: flex;
    justify-content: start !important;
    align-content: center;
    flex-direction: column;
}
.index-side ul,
.index-side2 ul {
    height: 100%;
    display: flex;
    justify-content: start !important;
    align-content: center;
    flex-direction: column;
}

.home {
    background: #dedede;
}
.nav-item:hover,
.nav-item2:hover {
    transition: 0.2s ease-out;
    background: #ececec;
}
.nav-item:not(:hover),
.nav-item2:not(:hover) {
    transition: 0.2s ease-out;
}
.nav-item:active,
.nav-item2:active {
    transition: 0.2s ease-out;
    background: #cccccc !important;
}
.nav-item:not(:active),
.nav-item2:not(:active) {
    transition: 0.2s ease-out;
}
.nav-item2 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}
.subTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 40px;
    /*margin-bottom: -100px;*/
    margin-bottom: 20px;
}
.subDiv {
    padding-left: 60px;
    margin-bottom: 50px;
}
.nav-item2 .lnr {
    font-weight: bold;
    font-size: 30px;
}
.nav-item2 .sideText {
    font-weight: normal;
    font-size: 14px;
}
.profile:hover,
.uploader:hover {
    cursor: pointer;
}
