<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamrocket.videohub.repository.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_member
        (user_account, user_password, user_display_name, user_email, user_profile_image)
        VALUES
        (#{userAccount}, #{userPassword}, #{userDisplayName}, #{userEmail}, #{userProfileImage})
    </insert>

    <select id="findMember" resultType="com.teamrocket.videohub.entity.Member">
        SELECT
        user_account, user_password, user_display_name,
        user_auth, user_email, user_reg_date, user_profile_image
        FROM tbl_member
        WHERE user_account = #{userAccount}
    </select>

    <select id="isDuplicate" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_member
        <if test="type == 'account'">
            WHERE user_account = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE user_email = #{keyword}
        </if>
    </select>

    <select id="isConsistent" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_member
        WHERE user_account = #{account} AND user_email = #{email}
    </select>
</mapper>