<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamrocket.videohub.repository.SubscriptionMapper">
    <insert id="save">
        INSERT INTO tbl_subscription
        (sub_sender, sub_receiver)
        VALUES
        (#{subSender}, #{subReceiver})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_subscription
        WHERE sub_sender = #{subSender} AND sub_receiver = #{subReceiver}
    </delete>

    <select id="find" resultType="subscription">
        SELECT sub_sender, sub_receiver FROM tbl_subscription
        WHERE sub_sender = #{subSender} AND sub_receiver = #{subReceiver}
    </select>
</mapper>