<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamrocket.videohub.repository.VideoMapper">
    <insert id="save">
        insert into tbl_video
        (video_upload_user, video_title, video_content, video_category, video_url, thumbnail_url)
        VALUES
        (#{videoUploadUser}, #{videoTitle}, #{videoContent}, #{videoCategory}, #{videoUrl}, #{thumbnailUrl})
    </insert>

    <select id="findOne" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        V.video_id, V.video_upload_date, V.video_upload_user,
        V.video_title, V.video_content, V.video_like,
        V.video_category, V.video_view_count, V.video_url,
        M.user_display_name, M.user_profile_image AS upload_user_profile_image
        FROM tbl_video V
        JOIN tbl_member M
        ON V.video_upload_user = M.user_account
        WHERE video_id = #{videoId}
    </select>

    <update id="upviewCount">
    </update>

    <select id="findAll" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        <if test="type == 'game'">
            WHERE video_category = 'game'
        </if>
        <if test="type == 'life'">
            WHERE video_category = 'life'
        </if>
        <if test="type == 'animal'">
            WHERE video_category = 'animal'
        </if>
        <if test="type == 'nature'">
            WHERE video_category = 'nature'
        </if>
        <if test="type == 'dance'">
            WHERE video_category = 'dance'
        </if>
        <if test="type == 'health'">
            WHERE video_category = 'health'
        </if>
        <if test="type == 'music'">
            WHERE video_category = 'music'
        </if>

        ORDER BY v.video_upload_date desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>