<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamrocket.videohub.repository.VideoMapper">
    <insert id="save">
        insert into tbl_video
        (video_upload_user, video_title, video_content, video_category, video_url, thumbnail_url)
        VALUES
        (#{videoUploadUser}, #{videoTitle}, #{videoContent}, #{videoCategory}, #{videoUrl}, #{thumbnailUrl})
    </insert>

    <select id="findOne" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        V.video_id, V.video_upload_date, V.video_upload_user,
        V.video_title, V.video_content, V.video_like,
        V.video_category, V.video_view_count, V.video_url,
        M.user_display_name, M.user_profile_image, M.user_subscribe
        FROM tbl_video V
        JOIN tbl_member M
        ON V.video_upload_user = M.user_account
        WHERE video_id = #{videoId}
    </select>

    <update id="upViewCount">
        UPDATE tbl_video
        SET video_view_count = video_view_count + 1
        WHERE video_id = #{videoId}
    </update>

    <select id="findAll" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        <if test="type == 'game'">
            WHERE video_category = 'game'
        </if>
        <if test="type == 'life'">
            WHERE video_category = 'life'
        </if>
        <if test="type == 'animal'">
            WHERE video_category = 'animal'
        </if>
        <if test="type == 'nature'">
            WHERE video_category = 'nature'
        </if>
        <if test="type == 'dance'">
            WHERE video_category = 'dance'
        </if>
        <if test="type == 'health'">
            WHERE video_category = 'health'
        </if>
        <if test="type == 'music'">
            WHERE video_category = 'music'
        </if>

        ORDER BY v.video_upload_date desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findAllDetail" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        ORDER BY
            CASE
                WHEN v.video_category = #{type} THEN 1
                else 2
            END,
            v.video_upload_date desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findAllCh" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        WHERE v.video_upload_user = #{channelName}
        ORDER BY v.video_upload_date desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <update id="upLikeCount">
        UPDATE tbl_video
        SET video_like = video_like + 1
        WHERE video_id = #{videoId};
    </update>

    <update id="downLikeCount">
        UPDATE tbl_video
        SET video_like = video_like - 1
        WHERE video_id = #{videoId};
    </update>

    <select id="findSearch" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        <if test="keyword != null">
            WHERE v.video_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY v.video_upload_date desc
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findAllSub" resultType="com.teamrocket.videohub.entity.Video">
        SELECT
        v.video_title, v.video_upload_user,
        v.video_view_count, v.video_upload_date,
        m.user_profile_image, v.thumbnail_url, v.video_id
        FROM tbl_video v
        JOIN tbl_member m ON v.video_upload_user = m.user_account
        JOIN tbl_subscription s ON v.video_upload_user = s.sub_receiver
        WHERE s.sub_sender = #{account}
        ORDER BY v.video_upload_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>