<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  카멜케이스와 스네이크케이스 자동 변환 설정  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--  entity클래스 별칭 설정하기  -->
    <typeAliases>
        <typeAlias type="com.teamrocket.videohub.entity.Reply" alias="reply" />
        <typeAlias type="com.teamrocket.videohub.entity.Emotion" alias="emotion" />
    </typeAliases>

    <!--  SQL을 적어둔 XML파일의 위치를 설정  -->
    <mappers>
        <mapper resource="mappers/MemberMapper.xml"/>
        <mapper resource="mappers/VideoMapper.xml"/>
        <mapper resource="mappers/ReplyMapper.xml" />
        <mapper resource="mappers/EmotionMapper.xml" />
        <mapper resource="mappers/SubscriptionMapper.xml" />
    </mappers>
</configuration>